/*
 * Layout
 */

.l-container {
  padding: var(--l-spacing);
}

.columns-2 {
  column-count: 2;
}

.columns-3 {
  column-count: 3;
}

.form--inline {
  display: flex;
  justify-content: space-evenly;
}

.form--inline > * {
  flex-grow: 1;
}

.form--inline > * + * {
  margin-left: calc(var(--l-spacing) / 2);
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .l-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
  }

  .l-horizontal > * {
    flex-grow: 1;
  }

  .l-horizontal > * + * {
    margin-left: calc(var(--l-spacing));
  }

  .l-reverse.l-horizontal > * + * {
    margin-left: 0;
    margin-right: calc(var(--l-spacing));
  }

  main > aside {
    width: 25%;
  }

  main > article {
    width: 75%;
  }

  .product__gallery {
    width: 33.33%;
  }

  .product__info {
    width: 66.66%;
  }

  .product__inspiration > li {
    width: 33%;
  }
}

.l-reverse {
  flex-direction: row-reverse;
}

.header__logo {
  min-width: 25%;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.header__logo img {
  max-height: 3em;
  width: auto;
}

nav.mobile-only {
  margin-top: calc(var(--l-spacing) / 2);
}

nav > .l-horizontal > * {
  flex-grow: 0;
  padding: calc(var(--l-spacing) / 2) 0;
}
