/*
 * Layout
 */

 .l-container {
  padding: var(--l-spacing);
}

@media(max-width: 480px) {
  .desktop-only {
    display: none;
  }
}

@media(min-width: 480px) {

  .l-horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
  }
  
  .l-horizontal > * {
    flex-grow: 1;
  }
  
  .l-horizontal > * + * {
    margin-left: calc(var(--l-spacing));
  }
  
  .l-reverse.l-horizontal > * + * {
    margin-left: 0;
    margin-right: calc(var(--l-spacing));
  }

  main > aside {
    width: 25%;
  }
  
  main > article {
    width: 75%;
  }

  .product__gallery {
    width: 33.33%;
  }
  
  .product__info {
    width: 66.66%;
  }
  
  .product__inspiration > li {
    width: 33%;
  }
}

.l-reverse {
  flex-direction: row-reverse;
}

.header__logo {
  margin: 0;
  flex-grow: 2;
  text-align: center;
}

.header__logo img {
  max-height: 3em;
  width: auto;
}

nav > .l-horizontal > * {
  flex-grow: 0;
  padding: calc(var(--l-spacing)/2) 0;
}

.columns-2 {
  column-count: 2;
}
