/*
 * Header
 */

body > header form {
  padding: calc(var(--l-spacing) / 2) 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

body > header form > * + * {
  margin-left: calc(var(--l-spacing) / 2);
}

@media (max-width: 768px) {
  .header__cart {
    color: transparent;
  }

  .header__cart span {
    color: white;
    background-color: var(--color-primary);
    font-size: 0.8em;
    display: inline-block;
    line-height: 1.2em;
    width: 1.2em;
    text-align: center;
    border-radius: 50%;
    margin-left: -1em;
  }
}

body > nav {
  font-weight: bold;
  font-size: 1.1em;
}

body > nav a {
  color: var(--color-primary);
}

body > nav a:after {
  content: '';
  display: block;
  height: var(--border-active-size);
  width: 0%;
  transition: width 0.2s ease-in-out;
  background-color: currentColor;
  margin-top: 0.2em;
}

body > nav a:hover:after {
  width: 100%;
}

/*
 * Footer
 */

footer {
  background-color: var(--color-accent);
  color: #aee5ec;
}

footer h1,
footer h4 {
  color: white;
}

footer small {
  color: rgba(0, 0, 0, 0.5);
}

footer nav {
  white-space: nowrap;
}
