/*
 * Header
 */

body > header form {
  padding: calc(var(--l-spacing) / 2) 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

body > header form > * + * {
  margin-left: 1em;
}

body > nav {
  font-weight: bold;
}

body > nav a {
  color: var(--color-primary);
}

body > nav a:after {
  content: '';
  display: block;
  height: var(--border-active-size);
  width: 0%;
  transition: width 0.2s ease-in-out;
  background-color: currentColor;
  margin-top: 0.2em;
}

body > nav a:hover:after {
  width: 100%;
}

/*
 * Footer
 */

footer {
  background-color: var(--color-accent);
  color: #aee5ec;
}

footer h1,
footer h4 {
  color: white;
}

footer small {
  color: rgba(0, 0, 0, 0.5);
}

footer nav {
  white-space: nowrap;
}

@media (min-width: 768px) {
  footer > * + * {
    margin-top: 0;
  }
}
